h1.font-header {
    font: italic bold 30px/30px Georgia, serif;
}
h4.font-title{
    color: #0080FF;
    font-size: 30px;
}
h4.font-login{
    color: #0000FF;
    font-size: 30px

}
span.icon{
    color: #FF4000;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 20%;
  height: 100%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 10% !important;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
input.request{
    background-color: #F7FE2E;
}
select.request{
    background-color: #F7FE2E;
}


img.border-img{
    -moz-box-shadow:    3px 3px 5px 6px #F2F2F2;
    -webkit-box-shadow: 3px 3px 5px 6px #F2F2F2;
    box-shadow:         3px 3px 5px 6px #F2F2F2;
    border-radius: 10px;
}

#imgmenu-hover:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}
#imgmenu-hover {
    -webkit-transform:scale(0.9);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}    



/*    --------------------------------------------------
        :: Login Section
        -------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

/*    --------------------------------------------------
        :: Inputs & Buttons
        -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
        -------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}